<div class="container">
  <div class="row">
    <div class="col-6">
      <img
        src="assets/images/img6.png"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </div>
    <div class="col-5">
      <h6><b>why choose us?</b></h6>
      <h1>We bring solutions to make life easier for our clients.</h1>
      <ul>
        <li>professional Design</li>
        <li>Top-Notch Support</li>
        <li>Header and Slider Options</li>
      </ul>
    </div>
  </div>
</div>
