<ul class="nav nav-tabs">
  <li class="nav-item">
    <img src="/assets/images/logo-sandbox.png" alt="" />
  </li>

  <li class="nav-item"></li>
  <li class="nav-item">
    <a [routerLink]="['WWD']" routerLinkActive="active"> <b>WHAT WE DO</b></a>
  </li>

  <li class="nav-item">
    <p><b>CHOOSE US</b></p>
  </li>
  <li class="nav-item">
    <a [routerLink]="['SOL']" routerLinkActive="active"> <b>SOLUTIONS</b></a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['CASE']" routerLinkActive="active">
      <b>CASE STUDIES</b></a
    >
  </li>

  <li class="nav-item">
    <a [routerLink]="['HUR1']" routerLinkActive="active"> <b>HOW ARE WE?</b></a>
  </li>

  <li class="nav-item">
    <a [routerLink]="['HUR2']" routerLinkActive="active"> <b>HOW ARE WE?</b></a>
  </li>

  <li class="nav-item">
    <button type="button" class="btn btn-light"><b>Free Trial</b></button>
  </li>
</ul>
