<p><b>what we do !</b></p>
<h1>
  The service we offer is specifically <br />
  designed to meet your needs
</h1>

<div class="row row-cols-1 row-cols-md-5 g-5">
  <div class="col">
    <div class="card h-100">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-telephone"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
        />
      </svg>
      <div class="card-body">
        <h5 class="card-title">24/7 Support</h5>
        <p class="card-text">
          Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta
          gravida at eget metus cras justo.
        </p>
      </div>

      <div class="card-footer">
        <div class="card-footer">
          <a [routerLink]="['']" routerLinkActive="active">
            <b>learn more</b></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-file-earmark-lock2"
        viewBox="0 0 16 16"
      >
        <path
          d="M10 7v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V9.3c0-.627.46-1.058 1-1.224V7a2 2 0 1 1 4 0zM7 7v1h2V7a1 1 0 0 0-2 0z"
        />
        <path
          d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
        />
      </svg>
      <div class="card-body">
        <h5 class="card-title">Secure Payments</h5>
        <p class="card-text">
          Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta
          gravida at eget metus cras justo.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer">
          <a [routerLink]="['']" routerLinkActive="active">
            <b>learn more</b></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-activity"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"
        />
      </svg>
      <div class="card-body">
        <h5 class="card-title">Daily Updates</h5>
        <p class="card-text">
          Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta
          gravida at eget metus cras justo
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer">
          <a [routerLink]="['']" routerLinkActive="active"><b>learn more</b></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-bank2"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"
        />
      </svg>
      <div class="card-body">
        <h5 class="card-title">Market Research</h5>
        <p class="card-text">
          Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta
          gravida at eget metus cras justo.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer">
          <a [routerLink]="['']" routerLinkActive="active">
            <b>learn more</b></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
