<h4>Our team</h4>
<h1>
  Check out some of our awesome projects<br />
  with creative ideas and great design.
</h1>

<div class="row row-cols-1 row-cols-md-5 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/t1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><b>Coriss Ambady</b></h5>
        <p class="card-text">Financial Analyst.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/t2.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><b>Cory Zamora</b></h5>
        <p class="card-text">Marketing Specialist</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/t3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><b>Nikolas Brooten</b></h5>
        <p class="card-text">Sales Manager</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/t4.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><b>Jackie Sanders</b></h5>
        <p class="card-text">Investment Planner</p>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br />
<carousel>
  <slide>
    <div class="text-center py-5 bg-dark text-white">
      <div class="lead">
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <p>
          “Vivamus sagittis lacus augue laoreet rutrum faucibus auctor
          vestibulum ligula porta felis, euismod semper cras justo odio
          consectetur.”
        </p>
        <h3>Coriss Ambady</h3>
        <h3>financial Analyst</h3>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5 bg-dark text-white">
      <div class="lead">
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <p>
          “Vivamus sagittis lacus augue laoreet rutrum faucibus auctor
          vestibulum ligula porta felis, euismod semper cras justo odio
          consectetur.”
        </p>
        <h3>Cory Zamora</h3>
        <h3>Marketing Specialist</h3>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5 bg-dark text-white">
      <div class="lead">
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>

        <p>
          “Vivamus sagittis lacus augue laoreet rutrum faucibus auctor
          vestibulum ligula porta felis, euismod semper cras justo odio
          consectetur.”
        </p>
        <h3>Nikolas Brooten</h3>
        <h3>Sales Manager</h3>
      </div>
    </div>
  </slide>
</carousel>
