.card {
  width: 20cm;
  height: 13cm;
  margin-left: 10cm;
  margin-top: 3cm;
  background-color: rgb(97, 83, 180);
}

.btn-light {
  background-color: rgb(50, 28, 65);
  border: none;
  border-radius: 50px;
  text-decoration: none;
  width: 190px;
  height: 45px;
  color: white;
}

label {
  margin-left: 1cm;
  color: black;
  margin-top: 0.5cm;
}
input {
  margin-left: 1cm;
  width: 18cm;
}
