<div class="bg_acceuil">
  <div>
    <div class="row">
      <div class="col">
        <h1>
          <b
            >Grafting project specific <br />
            solutions with expertise</b
          >
        </h1>

        <h3>
          We’re a creative company that focuses on establishing <br />
          long-term relationships with customers.
        </h3>
        <div class="row">
          <div class="col-sm">
            <button type="button" class="btn1">
              <b>Contact Us</b>
            </button>
          </div>
          <div class="col-sm">
            <button type="button" class="btn2">
              <b>Explore Now</b>
            </button>
          </div>
        </div>
      </div>

      <div class="col">
        <div>
          <carousel class="carou">
            <slide>
              <img src="assets/images/img1.jpg" alt="first slide" />
            </slide>

            <slide>
              <img src="assets/images/img3.jpg" alt="third slide" />
            </slide>

            <slide>
              <img src="assets/images/img4.jpg" alt="third slide" />
            </slide>
            <slide>
              <iframe
                src="https://www.youtube.com/embed/gIkcrToMlwQ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>
<app-what-we-do></app-what-we-do>
<br /><br /><br /><br /><br />
<app-why-choose-us></app-why-choose-us><br /><br /><br /><br /><br />
<app-our-solutions></app-our-solutions><br /><br /><br /><br />
<app-case-studies></app-case-studies><br /><br /><br /><br />
<app-who-are-we></app-who-are-we><br /><br /><br />
<app-our-team></app-our-team><br /><br /><br />
<br /><br />
<app-our-precing></app-our-precing><br /><br /><br />

<app-cmmunity></app-cmmunity>
