<div class="container">
  <div class="row">
    <div class="col-5">
      <h3><b>our solutions</b></h3>
      <h2>
        We make your spending stress-free for you to have the perfect control.
      </h2>
      <p>
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget
        quam. Praesent commodo cursus.
      </p>

      <div class="container">
        <div class="row row-cols-2">
          <div class="col1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            Aenean quam ornare. Curabitur blandit.
          </div>
          <div class="col1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              /></svg
            >Etiam porta euismod malesuada mollis.
          </div>
          <br /><br />
          <div class="col1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              /></svg
            >Nullam quis risus eget urna mollis ornare
          </div>
          <div class="col1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              /></svg
            >Vivamus sagittis lacus vel augue rutrum.
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img
        src="assets/images/i17.png"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </div>
  </div>
</div>
<div>
  <br /><br />
  <div class="cont">
    <div class="row">
      <div class="col">
        <b>7518</b><br />
        <h6>competed projects</h6>
      </div>
      <div class="col">
        <b>3472</b><br />
        <h6>Happy Customers</h6>
      </div>
      <div class="col">
        <b>2184</b><br />
        <h6>Expert Employees</h6>
      </div>
      <div class="col">
        <b>4523</b><br />
        <h6>Awards Wonng</h6>
      </div>
    </div>
  </div>
</div>
